<div class="container text-center">
    <h1>About Page</h1>
    <p>
        We are Matchify. Our company focuses on an exclusive community for Shopify
        store users, developers and designers to meet.
    </p>
</div>